.ed-container{
        font-family: 'Noto Serif JP', serif;
}

.title-cont {
    font-size: 22px;
    font-weight: bold;
}

.info-container {
    margin-top: 50px;
    font-family: 'Noto Serif JP', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:60px;
}

.school-name{
    font-size: 18px;
    font-weight: bold;
}

.program{
    font-size: 16px;
}

.school-body{
    margin-top:20px;
    display: inline-block;
}

.school-body li{
    padding-top:5px;
}