.ed-container{
    border: 1px solid black;
}

.title-cont {
    font-family: 'Playfair Display', serif;
}

.title-txt {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: .15em;
    font-weight: 700;
}

.info-container {
    font-family: 'Playfair Display', serif;
    letter-spacing: .05em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
