.additionalexperience-container {
    padding: 100px 33% 200px 200px;
    font-family: 'Playfair Display', serif;
}


.title-text {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}