.additionalexperience-container {
    padding: 100px 28% 50px 10%;
    font-family: 'Noto Serif JP', serif;
    background-color: #debc94;
    color:black;
}

.title-text {
    font-size: 22px;
    font-weight: bold;
}

.title-container{
    padding-bottom:20px;
}