.workexperience-container{
    padding: 100px 28% 50px 10%;
    font-family: 'Noto Serif JP', serif;
    background-color: #f4f5f2;
    color: black;
}

@media screen and (max-width:1000px) {
    .workexperience-container {
            padding: 100px 15% 50px 5%;
        }
}

