.workexperience-container{
    padding: 100px 28% 50px 10%;
    font-family: 'Playfair Display', serif;
    background-color:  rgb(255, 251, 252);
}


.title-text{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
}