.item-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-info{
    padding: 10px 100px;
    font-size: 16px;
}

.company-img{
    margin-top:15px;
    width:50px;
    height:50px;
    border-radius: 50%;
}

.title{
    display: flex;
    align-items: center;
    gap:3rem;
}

.company{
    font-size: 18px;
    font-weight: bold;
}

.role, .date{
    font-size: 16px;
}

.item-container{
    padding: 25px 50px;
    font-family: 'Noto Serif JP', serif;
    transition: 0.3s;
    border-radius: 10px;
}

.item-container:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(49, 49, 49, 0.4), 0 6px 20px 0 rgba(42, 42, 42, 0.19);
    
}

.item-descript{
    font-style: italic;
    font-size: 16px;
}

@media screen and (max-width:1000px) {

    .company{
            font-size: 14px;
            font-weight: bold;
        }
    .role,
    .date {
        font-size: 14px;
    }
        .item-descript {
            font-style: italic;
            font-size: 12px;
        }
    .item-info{
        font-size: 12px;
        padding: 0px 100px;
    }
    .item-container{
        padding:20px;
    }
    
}


@media screen and (max-width:600px) {

    .title{
        gap:0.5rem;
    }

    .company {
        font-size: 12px;
        font-weight: bold;
    }

    .role,
    .date {
        font-size: 10px;
    }

    .item-descript {
        font-style: italic;
        font-size: 10px;
    }

    .item-info {
        font-size: 10px;
        padding: 0px 20px;
    }

    .item-container {
        padding: 20px 10px;
    }

}