.welcome-image {
    height: 35px;
    width: 35px;
    object-fit: fill;
    margin-bottom: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 5% 60px 5%;
    font-family: 'Noto Serif JP', serif;
    gap: 15%;
}


.headshot {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.headshot:hover {
    transform: scale(1.015);
}

.left-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.current-info {
    font-weight: 500;
    width: 22%;
    color: rgb(255, 254, 245);
    padding-right: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.sub-heading {
    font-weight: 500;
    padding-top: 4px;
    text-align: left;
}

.typewriter {
    font-size: xx-large;
    font-weight: 900;
    letter-spacing: 0.06rem;
}

/* 
.typewriter{
    overflow: hidden;
        border-right: .15em solid rgb(252, 240, 148);;

        white-space: nowrap;

        margin: 0 auto;
   
        letter-spacing: .10em;

        animation:
        typing 2.5s steps(14, end),
        blink-caret 0.2s step-end infinite;
        font-weight: 900;
    font-size: xx-large;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 60%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color:rgb(252, 240, 148);
    }
} */

/*IPAD SIZE */
@media screen and (max-width: 950px) {
    .typewriter {
        font-size: 18px;
    }

    .headshot {
        width: 300px
    }

    .container {
        gap: 10%;
    }
}

/*PHONE SIZE */
@media screen and (max-width: 600px) {
    .typewriter {
        font-size: 14px;
    }

    .sub-heading {
        font-size: 10px;
    }

    .container {
        gap: 5%;
    }
        .headshot {
            width: 200px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.3s;
        }
}