.container{
    width:40%;
    display: flex;
    padding: 250px 0% 0% 0%;
}

.welcome-container{
    padding-bottom:220px
}

.current-info{
    letter-spacing: 4px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin-left: 1050px;
    padding-top: 30px;
    width: 25%;
    color: rgb(255, 254, 245);
}
.info {
    letter-spacing: 4px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin-left: 250px;
    padding-top: 2px;
    margin-right:1000px;
    text-align: left;
}
.typewriter {
    overflow: hidden;
    margin-left: 250px;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(125, 104, 118);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin: 0 auto;
    Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 2.5s steps(22, end),
        blink-caret 1.0s step-end infinite;

    font-weight: 900;
    font-size: xx-large;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 30%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    5% {
        border-color: rgb(125, 104, 117);
    }
}