.left-container{
    width:25%;
    display: flex;
    flex-wrap: wrap;
    padding-left:23%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top:400px;
    padding-bottom:400px;
    background: linear-gradient(to left, #a6608d 50%, white 50%);
    top:0;
    bottom:0;
}

.current-info{
    letter-spacing: 0.08rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    width: 22%;
    color: rgb(255, 254, 245);
    padding-right:25%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
}
.sub-heading {
    letter-spacing: 0.08rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    padding-top: 4px;
    text-align: left;
}
.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(125, 104, 118);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin: 0 auto;
    Gives that scrolling effect as the typing happens */
    letter-spacing: .12em;
    /* Adjust as needed */
    animation:
        typing 3.0s steps(22, end),
        blink-caret 1s step-end infinite;

    font-weight: 900;
    font-size: xx-large;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 50%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    5% {
        border-color: rgb(125, 104, 117);
    }
}

@media screen and (max-width: 1000px) {
    .current-info {
        font-size: medium;
        width:30%;
        padding-right: 14%;
    }
    .typewriter{
        font-size: larger;
        transition: 0.3s ease;
    }
    .sub-heading{
        font-size: medium;
    }
    .left-container{
        width:35%;
        padding-left: 11%;
    }
    .container{
        padding:40% 0%;
        transition:0.5s ease;
 }
}
