/**
.card-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    margin: 0px 50px 50px 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding:20px;
    transition: 0.7s ease;
}

.companyTitle{
    width:750px;
    display: flex;
    gap:1rem;
    align-items: center;
    font-weight: 700;
    padding-left: 50px;
    color:#1b1b1b;
    transition:0.5s ease;
    letter-spacing: 0.1em;
}

.companyTitle:hover {
    width: 770px;
}

.companyTitle img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(151, 151, 151);
}

.companyName{
    text-align: center;
}

.overlay{
    border-radius: 10px;
    color: black;
    width: 750px;
    letter-spacing: 0.05em;
}

.title {
    color: rgb(7, 6, 6);
    font-size: large;
    font-weight: 500;
    margin-top: 5%;
    margin-left: 10%;
}

.date {
    opacity: 1;
    font-size: small;
    font-weight: 500px;
    margin-left: 10%;
}
.body1{
    font-size: 14px;
    font-weight: 500px;
    margin-top: 20px;
    margin-left: 10%;
    width:75%;
}
.body2{
    font-size: 14px;
    font-weight: 500px;
    margin-left: 10%;
    width: 75%;
}
.body3 {
    font-size: 14px;
    font-weight: 500px;
    margin-left: 10%;
    width: 75%;
}

@media screen and (max-width: 1200px) {
    .date {
        font-size: small;
    }
    .body{
        font-size: small;
    }

    .image-container {
        width: 250px;
        height: 270px;
    }
    .title {
        font-size: small;
    }
    .companyTitle:hover {
        width: 500px;
        transition: 0.3s ease;
    }
}

@media screen and (max-width: 900px) {
    .companyTitle {
        width:600px;
        transition: 0.3s ease;
    }
    .overlay{
        width:400px;
    }
    .companyTitle:hover {
        width: 620px;
    }
}

@media screen and (max-width: 800px) {
    .companyTitle {
        width: 300px;
        transition:0.3s ease;
    }

    .overlay {
        width: 400px;
    }

    .companyTitle:hover {
        width: 300px;
    }
}

*/