.card-container {
    display: flex;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    margin: 2%;
    border-radius: 5%;
    align-items: center;
}

h3 {
    color: white;
    font-size: x-large;
    margin-top: 25%;
}
.image-container{
    overflow:hidden;
    border-radius: 5%;
    width:425px;
    height:450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay{
    position: absolute;
    transition: 1s ease;
    background-color: #292929cd;
    border-radius: 5%;
    width: 425px;
    height: 450px;
}
p {
    color: white;
    opacity: 1;
    margin-top: 20%;
    font-size: large;
    font-weight: 500px;
}



