.card-container {
    display: flex;
    cursor: pointer;
    position: relative;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    margin: 20px;
    margin-top:0;
    border-radius: 20px;
    align-items: center;
}

.title {
    color: white;
    font-size: large;
    font-weight: 500;
    margin-top: 60px;
    margin-left: 30px;
}

.image-container{
    overflow:hidden;
    border-radius: 5%;
    width: 350px;
    height:375px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:0.5s ease;
}

.card-container:hover .overlay{
    opacity: 0;
}
.card-container:hover .image-container{
    opacity: 1;
}

.overlay{
    position: absolute;
    transition: 0.5s ease;
    background-color: #292929df;
    border-radius: 20px;
    width: 350px;
    height: 375px;
}
.date {
    color: white;
    opacity: 1;
    font-size: small;
    font-weight: 500px;
    margin-left: 30px;
}
.body{
    color: white;
    opacity: 1;
    font-size: smaller;
    font-weight: 500px;
    margin-top: 20px;
    margin-left: 50px;
    width:75%;
}
