.spotify-container{
    padding: 75px 10% 50px 10%;
    font-family: 'Noto Serif JP', serif;
     background-color: #f4f5f2;
}
.spotify-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
}


@media screen and (max-width: 900px) {
    .spotify-frame {
        max-width: 70%;
    }
}