.education{
    color:black;
    padding:5px 80px 5px 5px;
}

.experience{
    color: black;
    padding: 5px 80px 5px 5px;
}

.interests {
    color: black;
    padding: 5px 80px 5px 5px;
}
.contact{
    color:black;
    padding: 5px;
}
.navbar-container{
    padding-right: 220px;
    padding-top:70px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
}