.topic{
    color:#dddddd;
    padding:10px 50px 5px 5px;
    text-decoration: none;
    transition:0.3s;
    letter-spacing: .15em;
}
.topic:hover{
    color:#ffffff;
}

.navbar-container{
    padding-right: 10%;
    padding-top:300px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: small;
}

a{
    text-decoration: none;
}
li{
    list-style:none;
}
ul{
    display: flex;
}