.nav-container{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif JP', serif;
    margin-top:100px;
    position: fixed;
        z-index: 1;
        top: 0;
    /* Fixed Sidebar (stay in place on scroll)
    position: fixed;
    z-index: 1;
    top: 0;
    */
    color:rgb(252, 240, 148);
}

.nav-container li{
    list-style:none;
    padding: 2px 0px;
    margin: 12px 0px 3px 20px;
    transition: 0.3s;
}

.nav-container li:hover{
    cursor: pointer;
    color:rgb(54, 34, 3);
    border-bottom: 1px solid rgb(54, 34, 3);
}

@media screen and (max-width: 950px) {
    .nav-container li {
    list-style: none;
    padding: 2px 0px;
    margin: 3px 0px 3px 20px;
}
}

@media screen and (max-width: 700px) {
    .nav-container li {
        list-style: none;
        padding: 1px 0px;
        margin: 1px 0px 3px 10px;
        font-size: 12px;
    }
}