.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top:110px;
    align-content: center;
}

.info-container {
    font-family: 'Playfair Display', serif;
    letter-spacing: .05em;
    color: #686866;
    padding-left:250px
}

.info-container p {
    font-size: smaller;
}

.program {
    font-size: large;
    font-weight: 700;
}

.school {
    font-size: medium;
    font-weight: 500;
}

.school-container {
    background-color: white;
    border-radius: 40px;
    width: 75%;
    padding: 30px 50px 20px 50px;
    margin-top:50px;
}

.section {
    padding-top: 5%;
    padding-bottom:5%;
}

.sub-section{
    margin-top: 5%;
}

.title-text {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: .15em;
    font-weight: 700;
    color: #5a5a58;
}

.title-container {
    font-family: 'Playfair Display', serif;
    margin-top:75px;
    width: 25%;
    margin-left:175px;
    margin-bottom:100px;
}

