.title-text {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: .15em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #5a5a58;
}

.section {
    padding-left: 10%;
}

.subsection{
    padding-top: 35%;
    padding-left: 10%;
    margin-bottom: 10%;

}