
.ed-about {
    padding:  10%;
    display: flex;
    gap: 100px;
    background-color: #f4f5f2;
}

@media screen and (max-width: 950px) {
    .ed-about {
        flex-wrap: wrap;
    }
}

.education, .skills{
    width:50%;
}
