
.ed-about {
    padding: 100px 10% 50px 10%;
    display: flex;
    border: 1px solid black;
    gap: 10%;
}

@media screen and (max-width: 950px) {
    .ed-about {
        flex-wrap: wrap;
    }
}

