
.ed-about {
    padding:  10%;
    display: flex;
    gap: 100px;
    background-color: #f4f5f2;
}

@media screen and (max-width: 1000px) {
    .ed-about {
        flex-wrap: wrap;
        gap:20px;
    }
        .education,
        .skills {
            width: 75%;
        }
    
}

    /**
    .education,
        .skills {
            width: 50%;
        }
    */




