.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 15% 5% 15%;
}

.footer{
    align-items: center;
    padding: 1.5% 2%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.556);
    font-weight: bold;
}
.descript{
    padding: 5px 80px 5px 50px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.08em;
        line-height: 2em;
    padding-top: 50px;
}

a{
    text-decoration: none;
    color:#c02886;
    transition: 0.3s;
}
a:hover{
    color:#7f1e5a;
}

.goodreads{
    font-size: smaller;
    font-style: italic;
}

.my-pic img{ 
    border-radius: 50%;
    width:auto;
    height:300px;
}

.contact-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .15em;
    color: #1b1b1b;
    margin-top:50px;
}

.contact-info {
    letter-spacing: 0.08em;
    font-size: 16px;
}

.email {
    color: #1b1b1b;
    text-decoration: underline;
}


@media screen and (max-width: 1000px) {
    .about-container {
        flex-wrap: wrap;
        padding-top: 15%;
    }
    .my-pic img{
        max-width:200px;
        max-height: 200px;
    }
    .descript{
        min-width: 300px;
    }
}

.resume-container {
    color: black;
    text-decoration: none;
    padding: 20px 0px;
    font-weight: bold;
}